mixin createMenu(list)
     each item in list
         a(href="")=item

-var menu = ['Меню_1','Меню_2', 'Меню_3', 'Меню_4']
-var title1 = 'Макромир'
-var title2 = 'Этажи'
-var title3 = 'Самолет'

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title #{title}
        link(rel='stylesheet' type='text/css' href='..//css/main.css')
    body
        .grid-container
            .main-name
                .blockname Агенства
            .main-menu
                .grid-containerMenu
                    +createMenu(menu)
            .main-img1
                img(src="../img/Этажи.jpg")
            .main-img2
                img(src="../img/Макромир.png")
            .main-img3
                img(src="../img/Самолет.png")
        .content_text
            .text
                .imgt
                    img(src="../img/Этажи.jpg")
                h1=title1
                p Компания "Макромир" предлагает продавцам и покупателям только только опытных и проверенных исполнителей для решения вопросов связанных с недвижимостью, а агентам - сервис для эффективной работы на рынке недвижимости, 100% комиссии с каждой сделки, доступ к базе новостроек и всем преференциям компании. Сервис MMIR.PRO помогает риэлторам быстро и качественно выполнять свою работу, а клиентам рынка – продавцам и покупателям – быть уверенными в нанятых исполнителях. На портале размещены проверенные компанией «Макромир» риэлторы. Вы можете найти исполнителя для того, чтобы решить вопрос, связанный с арендой, покупкой или продажей недвижимости, основываясь на открыто предоставленной информации Мы гарантируем правдивость и достоверность данных, обслуживая всех представленных на портале риэлторов в офисах компании «Макромир», которые расположены в различных городах России.
            .text
                .imgt
                    img(src="../img/Макромир.png")
                h1=title2
                p Компания "Этажи" на рынке более 21 года, представлена более чем в 170 городах России и в странах СНГ, штат сотрудников насчитывает более 18 000. Компания является лидирующей в ипотечном кредитовании с 2013-2018 года в Сбербанке и ВТБ.В 2018 году компания "Этажи" признана агентством недвижимости №1 в России по версии Сбербанка. Партнерами являются около 1000 застройщиков и банков. Аренда недвижимости: жилая, коммерческая, Другие услуги: дизайн интерьера, консультации, ремонт, страхование, строительство, Ипотечное кредитование: ипотека, рефинансирование, Продажа недвижимости: жилая, загородная, коммерческая ельств компании по всей России позволяет совершить безопасную межрегиональную или сложную сделку.
            .text
                .imgt
                    img(src="../img/Самолет.png")
                h1=title3
                p Агентство недвижимости «Самолет» сегодня — это четыре удобно расположенных, современных офиса в городе Владимир, широчайший ассортимент услуг в сфере недвижимости, способный удовлетворить любые запросы наших клиентов, передовые технологии в сфере продаж, 100% страхование всех рисков. Наличие широкого круга партнеров позволяет нашим Клиентам получать максимальную пользу от сотрудничества с нами и экономить свое время.
        .name
            span ⓒКолпакова А.И., Б9121-09.03.04/1, 2023-2024
            span.right ✉Контакты
